/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffd19d;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

input[type="number"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007bff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

h2#salida {
    color: #ff0000; /* Rojo para indicar el estado */
    font-weight: bold;
}

audio {
    display: none; /* Ocultar el elemento de audio */
}